*{
  scroll-behavior:smooth ;
}

.app{
  min-height: 100vh;
  background-color:rgb(57, 55, 58);
  color: rgb(248, 252, 252);
  padding-top: 10rem;
  
  padding-bottom: 70px;
}

@media (max-width:700px){
  .app{
    padding-top: 80px;
    margin-right: 0;
    padding-right: 0;
  }
}
.pagetitle{
  text-transform: uppercase;
  display:flex;
  justify-content: center;
  padding-bottom: 15px;
  border-radius: 10px;
  font-size: 3vh;
  
}
 @media (max-width:1000px){
  .pagetitle{
    font-size: 3.4vh;
  }
} 